<footer class="footer">
  <div class="container">
    <span class="text-muted">&copy; <a target="_blank" href="http://www.classroom.la">ClassroomLa</a> &amp; <a target="_blank" href="http://www.jimmy0017.com">Jimmy Lin</a> &amp; <a target="_blank" href="#">Xingyu Zhou</a></span>
  </div>
</footer>
